@charset "UTF-8";
/* Палітра: */
/* Верхня лінія 
#212121 #2196F3 #757575 #000000 #ECECEC #FFFFFF */
/* Шапка
#FFFFFF #2196F3 #2F303A */
/* Особливості
#212121 #757575 */
/* Чим займаємося 
#212121 */
/* Наша команда
 #212121 #757575 #FFFFFF #F5F4FA  */
/* Підвал
#FFFFFF #FFFFFF60%  #2196F3 #2F303A */
/* Колір лого #000000 */
/* Головний колір тексту  #212121 */
/* Вторинний колір тексту #757575 */
/* Адреса колір контактів  #D9D9D9 */
/* Білий колір #FFFFFF */
/* Акцент #2196F3 */
/* Бекграунд секції #F5F4FA */
/* Бекграунд шапки і футера #2F303A */
/* Колір лайн верхньої лінії #ECECEC */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --adress-text-color: #FFFFFF60%;
  --wite-color: #ffffff;
  --accent-color: #2196f3;
  --prymary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--wite-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-header {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.feature__text,
.team__text {
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-case {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1738461538;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .logo {
    margin: 16px 0px;
  }
}

.logo__web {
  color: #2196f3;
}

.mobile {
  margin-left: auto;
}

.mobile__toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .mobile__toggle {
    display: none;
  }
}

.mobile__toggle:hover,
.mobile__toggle:focus {
  color: var(--accent-color);
}

.mobile__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--wite-color);
  z-index: 1;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile__container.is-open {
  transform: translateX(0);
}

.mobile__container .mobile__toggle {
  min-height: 40px;
  min-width: 40px;
  position: absolute;
  top: 12px;
  right: 20px;
  color: var(--primary-text-color);
}

.mobile__container .mobile__toggle:hover,
.mobile__container .mobile__toggle:focus {
  color: var(--accent-color);
}

.mobile-menu {
  padding: 20;
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 0.46875;
  letter-spacing: 0.02em;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__list--tel {
  margin-top: 306px;
  margin-bottom: 32px;
}

.mobile-menu-contacts__list--mailto {
  margin-bottom: 64px;
}

.mobile-menu-contacts__tel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1717647059;
  letter-spacing: 0.02em;
}

.mobile-menu-contacts__mailto {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  color: var(--accent-color);
}

.mobile-socials__items .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}

.mobile-socials__items + .mobile-socials__items {
  margin-left: 10px;
}

.mobile-socials__items--slash {
  color: rgba(33, 33, 33, 0.2);
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: 88px;
  }
  .nav__list .nav__item + .nav__item {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-right: 305px;
    margin-left: 0px;
  }
}

.nav__item--active {
  display: block;
  position: relative;
}

.nav__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1721428571;
  letter-spacing: 0.02emem;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--active {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1721428571;
  letter-spacing: 0.02emem;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--accent-color);
}
.nav__link--active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    flex-wrap: nowrap;
  }
  .header-contacts .header-contacts__list + .header-contacts__list {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__header-contacts {
    justify-content: flex-end;
  }
}
.header-contacts__mailto,
.header-contacts__tel {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1721428571;
  letter-spacing: 0.02emem;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__mailto:hover, .header-contacts__mailto:focus,
.header-contacts__tel:hover,
.header-contacts__tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-contacts__mailto,
.header-contacts__tel {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.header-contacts__envelope {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__tel,
.header-contacts__mailto {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .header-contacts__tel {
    margin-right: 19px;
    margin-top: 10px;
  }
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(58, 47, 53, 0.4), rgba(58, 47, 53, 0.4)), url(.././images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  max-width: 480px;
  padding-top: 130px;
  padding-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(58, 47, 53, 0.4), rgba(58, 47, 53, 0.4)), url(.././images/hero-mobile-2.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    padding-top: 130px;
    padding-bottom: 70px;
    height: 400px;
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(58, 47, 53, 0.4), rgba(58, 47, 53, 0.4)), url(.././images/hero-tablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    height: 400px;
    max-width: 768px;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(58, 47, 53, 0.4), rgba(58, 47, 53, 0.4)), url(.././images/hero-tablet-2.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(58, 47, 53, 0.4), rgba(58, 47, 53, 0.4)), url(.././images/hero.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(58, 47, 53, 0.4), rgba(58, 47, 53, 0.4)), url(.././images/hero2.jpg);
  }
}
.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    text-transform: none;
  }
}

.hero-title__order-button {
  margin-bottom: 30px;
}

.order-button {
  display: inline-block;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  height: 50px;
  width: 200px;
  height: 50px;
  left: 692px;
  top: 430px;
  border-color: var(--accent-color);
  border-radius: 4px;
  border-style: solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.order-button:active {
  background-color: #188ce8;
  box-shadow: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  background-color: var(--wite-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-header__form {
  margin-bottom: 12px;
}

.form {
  display: block;
}

.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.1716666667;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  text-align: left;
  margin-bottom: 4px;
}

.form__field {
  position: relative;
}

.form__input {
  display: block;
  height: 40px;
  border-radius: 4px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}

.form__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon:focus, .form__icon:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

.form__field .form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.form-textarea__input {
  display: block;
  resize: none;
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.1716666667;
  letter-spacing: 0.01em;
  text-align: left;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea__input:hover, .form-textarea__input:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .form-textarea__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form-textarea__input {
    width: 448px;
  }
}

.checkbox {
  display: flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  align-items: center;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
}
.checkbox:checked + .checkbox__icon {
  border: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1px;
  margin-left: 13px;
  margin-right: 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.terms-of-agreement {
  color: var(--accent-color);
  margin-left: 4px;
}

.checkbox__send-button {
  margin-bottom: 30px;
}

.send-button {
  color: var(--wite-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  align-items: center;
  border-radius: 4px;
  margin-left: 12px;
  border-color: var(--accent-color);
  border-style: solid;
  border-width: 2px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.send-button:active {
  background-color: #188ce8;
  box-shadow: none;
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  padding-top: 4px;
  fill: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.feature__hidden-header,
.examples__hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 60px) / 2);
    margin: 0px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 120px) / 4);
    margin: 0px 15px;
  }
}
@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature__image {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721428571;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature__header {
    text-align: center;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .feature__text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.no-padding {
  padding-top: 0px;
}

.works__header {
  margin-bottom: 94px;
}

.works__list {
  display: flex;
}
.works__list .works__item + .works__item {
  margin-left: 30px;
}

.works__item {
  position: relative;
}

.works__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721428571;
  letter-spacing: 0.03em;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  background-color: var(--wite-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 0px 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    margin: 0px 15px;
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team.section-header {
  margin-bottom: 50px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.171875;
  letter-spacing: 0.03em;
}

.team-text__social {
  margin-bottom: 15px;
}

.social__list {
  display: flex;
  justify-content: center;
}
.social__list .social__link + .social__link {
  margin-left: 10px;
}

.social__item {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--wite-color);
  fill: #afb1b8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover, .social__item:focus {
  fill: var(--wite-color);
  background-color: var(--accent-color);
}

.clients__header {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
.clients__list .clients__icon + .clients__icon {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: 170px;
  height: 92px;
  border-color: #afb1b8;
  border-style: solid;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

@media screen and (min-width: 48px) {
  .clients__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:nth-child(-n+6) {
    margin-bottom: 0px;
  }
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .footer__about {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__about {
    margin-left: 76px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .in-footer.container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .in-footer.container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .in-footer.container {
    display: flex;
  }
}

.logo--footer {
  color: #ffffff;
}

.addres__logo--footer {
  margin-top: 20px;
}

.addres__list {
  font-style: normal;
}
.addres__list .addres__item + .addres__item {
  margin-top: 9px;
}

.list.addres__list {
  color: var(--wite-color);
}

.addres__mailto,
.addres__tel {
  color: #d9d9d9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres__mailto:hover, .addres__mailto:focus,
.addres__tel:hover,
.addres__tel:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-social__addres {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-social__addres {
    margin-left: 165px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social__addres {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.footer-social {
  justify-items: center;
}

.footer-social__header,
.footer-subscribe__header {
  color: var(--wite-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721428571;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--wite-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  fill: var(--wite-color);
  background-color: var(--accent-color);
}

.footer-social__list {
  display: flex;
  justify-content: center;
}
.footer-social__list .footer-social__item + .footer-social__item {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__list {
    display: flex;
    justify-content: center;
  }
}

.footer-subscribe__social {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__social {
    margin-top: 12px;
    margin-left: 94px;
  }
}

.footer-subscribe__email {
  background-color: var(--secondary-background-color);
  width: 358px;
  padding-left: 16px;
  color: var(--wite-color);
  height: 50px;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__email:hover, .footer-subscribe__email:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .footer-subscribe__email {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__email {
    width: 358px;
  }
}

.subscribe-button {
  display: flex;
  color: var(--wite-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-button:active {
  background-color: #188ce8;
  box-shadow: none;
}
@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-left: 12px;
  }
}

.subscribe-button svg {
  fill: var(--wite-color);
  margin-left: 10px;
}

.subscribe-button__sign {
  margin-left: 28px;
}

.filter__list {
  display: flex;
  justify-content: center;
}

.filter {
  margin-bottom: 34px;
}

.filter__button {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;
  color: #212121;
  background-color: var(--prymary-background-color);
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.filter__button:active {
  box-shadow: none;
}

.examples__list {
  display: flex;
  flex-wrap: wrap;
}

.examples__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples__item:nth-child(3n) {
  margin-right: 0%;
}
.examples__item:nth-last-child(-n+3) {
  margin-bottom: 0%;
}

.examples__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--wite-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover,
.examples__link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.examples__link:hover .product__overlay,
.examples__link:focus .product__overlay {
  transform: translateX(0);
}

.product__header {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.product__card {
  border-right-width: 1px;
  border-right-color: #eeeeee;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-color: #eeeeee;
  border-left-style: solid;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
}/*# sourceMappingURL=main.css.map */