.filter__list {
    display: flex;
    justify-content: center;
}

.filter {
    margin-bottom: 34px;
}

.filter__button {
    display: inline-block;
    padding: 6px 22px;
    margin-right: 8px;
    border-radius: 4px;
    color: #212121;
    background-color: var(--prymary-background-color);
    box-shadow: none;
    cursor: pointer;
    font-family: inherit;
    @include font (500, 16, 26, 0.03);
    text-align: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--wite-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px 0px #00000040;
    }   
    
    &:active {
    box-shadow: none
    }
}
