
.footer-subscribe__list {
    @media screen and (min-width: 1200px) {
       display: flex;
       justify-content: center; 
    }    
}

.footer-subscribe__social {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        margin-top: 12px;
        margin-left: 94px;
        }
}

.footer-subscribe__email {
    background-color: var(--secondary-background-color);
    width: 358px;
    padding-left: 16px;
    
    color: var(--wite-color);
    height: 50px;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

         @media screen and (min-width: 480px) {
             width: 100%;
            margin-bottom: 20px;
         }
    
         @media screen and (min-width: 768px) {
             width: 450px;
             
         }
    
         @media screen and (min-width: 1200px) {
             width: 358px;
         }
        
}

.subscribe-button {
    display: flex;
    color: var(--wite-color);
    background-color: var(--accent-color);
    width: 200px;
    height: 50px;

    border-radius: 4px;
    border-color: var(--accent-color);
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    align-items: center;
    @include font (700, 16, 30, 0.06);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    &:active {
        background-color: #188ce8;
        box-shadow: none;
    }


        @media screen and (min-width: 480px) {
            
        }
    
        @media screen and (min-width: 768px) {
            
        }
    
        @media screen and (min-width: 1200px) {
            margin-left: 12px;
        }
}

.subscribe-button svg {
    fill: var(--wite-color);
    margin-left: 10px;
}

.subscribe-button__sign {
    margin-left: 28px;
}

